<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{- with $name := (partial "objects/author.html" .).name }}
    <meta name="author" content="{{ . }}">
    {{- end }}

    {{- $page := partial "objects/page.html" . }}
    <meta name="description" content="{{- $page.description -}}">

    <title>{{ $page.title }}</title>

    {{- if strings.HasSuffix .RelPermalink "/404.html" }}
    <meta name="robots" content="noindex, nofollow">
    {{- else }}
    <link rel="canonical" href="{{ .Permalink }}">
        {{- if not .Site.Params.disableSocialMeta }}
{{ partial "opengraph.html" . }}
        {{- end }}
    {{- end }}

    {{- if not .Site.Params.disableFontPreload }}
    <link rel="preload" href="{{ "fonts/Newsreader.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ "fonts/Newsreader-italic.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
    {{- end }}

    {{- $inlineCSS := .Site.Params.inlineCSS }}

    {{- $defaultCSS := resources.Get "css/default.css" | minify | fingerprint }}
    {{- if $inlineCSS }}
    <style>
{{ $defaultCSS.Content | safeCSS }}
    </style>
    {{- else }}
    <link rel="stylesheet" href="{{ $defaultCSS.RelPermalink }}" integrity="{{ $defaultCSS.Data.Integrity }}">
    {{- end }}

    {{- with resources.Get "css/custom.css" }}
        {{- with . | minify | fingerprint }}
            {{- if $inlineCSS }}
    <style>
{{ .Content | safeCSS }}
    </style>
            {{- else }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
            {{- end }}
        {{- end }}
    {{- end }}

    <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
    <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">

    {{- $inlineJS := .Site.Params.inlineJS }}

    {{- if or (not .Site.Params.colorScheme) (eq .Site.Params.colorScheme "toggle") }}
        {{- $darkmodeJS := resources.Get "js/darkmode.js" | minify | fingerprint }}
        {{- if $inlineJS }}
    <script>
{{ $darkmodeJS.Content | safeJS }}
    </script>
        {{- else }}
    <script src="{{ $darkmodeJS.RelPermalink }}" integrity="{{ $darkmodeJS.Data.Integrity }}" defer></script>
        {{- end }}
    {{- end }}

    {{- $footnotesJS := resources.Get "js/footnotes.js" | minify | fingerprint }}
    {{- if $inlineJS }}
    <script>
{{ $footnotesJS.Content | safeJS }}
    </script>
    {{- else }}
    <script src="{{ $footnotesJS.RelPermalink }}" integrity="{{ $footnotesJS.Data.Integrity }}" defer></script>
    {{- end }}

    {{- if templates.Exists "partials/nonstdmeta.html" }}
{{ partial "nonstdmeta.html" . }}
    {{- end }}
</head>
