{{- define "main" }}
    {{- with .Site.GetPage "_index.md" }}
        {{- $subtitle := .Params.subtitle }}
        {{- with .Content }}
    <section>
    <h1 class="smaller">{{ $subtitle }}</h1>
    {{ . }}
    </section>
        {{- end }}
    {{- end }}

    {{- range sort (where .Site.Sections "Section" "in" .Site.MainSections) "Weight" }}
    <section>
    <h2>{{ .Title }}</h2>
    <ul>
        {{- $pages := where .Site.RegularPages "Section" .Section }}
        {{- $sectionSize := .Site.Params.homeSectionSize | default 5 }}
        {{- $topPages := first $sectionSize $pages }}
        {{- range $topPages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- end }}
    </ul>
        {{- if gt (len $pages) $sectionSize }}
    <p class="more-link"><a href="{{ .RelPermalink }}">&raquo;</a></p>
        {{- end }}
    </section>
    {{- end }}
{{- end }}
